<h1>Test history</h1>
#set($noHistory = true)

<table>
    <tr>
        <th>Page</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Latest</th>
        <th colspan="5">Last 5 Results</th>
    </tr>
    #set ($ourarray = [])
    #set ($array = [])
    #foreach ($page in $testHistory.pageNames)
        #set ($singlepageHistory = $testHistory.getPageHistory($page))
        #set ($dates = "$singlepageHistory.datesInChronologicalOrder()")
        #set ($splitdates = $dates.split(","))
        #set ($bargraph = $singlepageHistory.getBarGraph())
        #set ($passfailArray = $bargraph.passFailArray())
        #set ($date = $passfailArray[0].data)
        #set ($dummy = $ourarray.add({"name":$page,"date":$dateint}))
        #set ($dummy = $array.add($singlepageHistory))
    #end

   #foreach($item in $sorter.sort($ourarray,"date"))
        $item.name
    #end
#set ($sorted = [] )
    #foreach ($page in $array)


            #set($noHistory = false)

            <tr>
                #set ($barGraph = $page.getBarGraph())

                #if($page.passes==0) #set ($passClass = "ignore")
                #else #set ($passClass = "pass")
                #end

                #if($page.failures==0) #set ($failClass = "ignore")
                #else #set ($failClass = "fail")
                #end

                <td><a href="/$page?pageHistory">$page</a></td>
                <td class="$passClass">$page.passes</td>
                <td class="$failClass">$page.failures</td>
                <td>$barGraph.formatEndingDate("dd MMM yy, HH:mm")</td>
                #foreach($passFail in $page.passFailArray)
                    <td class="$passFail.result"><a href="$page?pageHistory&resultDate=$passFail.Date">#if($passFail.pass)+#else-#end</a></td>
                    $sorted.add($passFail.Date)

$passFail
                #end


            </tr>

    #end


</table>
#if ($noHistory)No History#end
