<h1>Recent Test History</h1>
#set($noHistory = true)
<table>
    <tr>
        <th>Page</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Latest</th>
        <th colspan="20">Last 20 Results</th>
    </tr>
    #foreach ($page in $testHistory)
        #if($page)
        #end
            #set($noHistory = false)


            <tr>
                #set ($barGraph = $page.pageHistory.getBarGraph())
                #if($page.numberOfTimesPassed==0) #set ($passClass = "ignore")
                #else #set ($passClass = "pass")
                #end

                #if($page.numberOfTimesFailed==0) #set ($failClass = "ignore")
                #else #set ($failClass = "fail")
                #end

                <td><a href="/$page.pageName">$page.pageName</a></td>
                <td class="$passClass">$page.numberOfTimesPassed</td>
                <td class="$failClass">$page.numberOfTimesFailed</td>
                <td>$page.MostRecentRunDate</td>
                #foreach($passFail in $page.barGraph.passFailArray())
                    <td class="$passFail.result"><a href="$page.pageName?pageHistory&resultDate=$passFail.Date">#if($passFail.pass)+#else-#end</a></td>
                #end
            </tr>
        #end


</table>
#if ($noHistory)No History#end
