<!DOCTYPE html>
#set( $themeCookieName = "themeType")
#set ($themeType = $request.getCookie($themeCookieName))
#if($themeType == "")
    #set( $themeType = 'bootstrap-plus' )
#end
#set( $collapseCookieName = "collapseSymbols")
#set ($collapseSymbols = $request.getCookie($collapseCookieName))
#if($collapseSymbols == "")
    #set( $collapseSymbols = 'false' )
#end
#set( $autoSaveCookieName = "autoSave")
#set ($autoSave = $request.getCookie($autoSaveCookieName))
#if($autoSave == "")
    #set( $autoSave = 'false' )
#end
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>$pageTitle.Title ($title)</title>
  ## Deal with HTML 5 element in older IE browsers
  <!--[if lt IE 9]>
   <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('footer');
   </script>
  <![endif]-->

  #if( $actions.testPage )
   <script type="text/javascript">document.cookie = "latestContext=${actions.localPageName}";</script>
   <link rel="shortcut icon" type="image/png" href="${contextRoot}files/fitnesse/bootstrap-plus/img/test-favicon.png" />
  #elseif( $actions.suitePage )
   <link rel="shortcut icon" type="image/png" href="${contextRoot}files/fitnesse/bootstrap-plus/img/suite-favicon.png" />
  #elseif ( $title.contains("Edit:") )
   <link rel="shortcut icon" type="image/png" href="${contextRoot}files/fitnesse/bootstrap-plus/img/edit-favicon.png" />
  #else
   <link rel="shortcut icon" type="image/png" href="${contextRoot}files/fitnesse/images/favicon.png" />
  #end

  <link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/css/fitnesse_wiki.css" />
  <link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/css/fitnesse_pages.css" />
  <link rel="stylesheet" id="theme" type="text/css" title="light" href="${contextRoot}files/fitnesse/bootstrap-plus/css/fitnesse-${themeType}.css" />

  <link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/wysiwyg/wysiwyg.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="${contextRoot}files/fitnesse/bootstrap-plus/css/font-awesome.min.css">
  <link rel="csv file" type="text/csv" href="${contextRoot}files/fitnesse/bootstrap-plus/csv/toolTipData.csv">
  <script src="${contextRoot}files/fitnesse/javascript/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="${contextRoot}files/fitnesse/javascript/fitnesse.js" type="text/javascript"></script>
  <script src="${contextRoot}files/fitnesse/bootstrap-plus/js/bootstrap.js" type="text/javascript"></script>
  <script src="${contextRoot}files/fitnesse/bootstrap-plus/js/respond.js" type="text/javascript"></script>
  <script src="${contextRoot}files/fitnesse/bootstrap-plus/js/bootstrap-plus.js" type="text/javascript"></script>
  <script src="${contextRoot}files/fitnesse/bootstrap-plus/js/bootstrap-plus-extra.js" type="text/javascript"></script>
 </head>
 <body#if( $bodyClass ) class="$bodyClass"#end">

  <nav class="navbar-fixed-top " role="navigation">
   <div class="navbar navbar-default">
   <div id="spinner" style="display:none; float:right; padding:5px 70px 0 0; width: 42px; height:42px;"></div>
   <div class="toggle-bar" style="display:none">Context help</div>
   <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <a class="navbar-brand" href="${contextRoot}FrontPage"><span>FitNesse</span></a>
    </div>

    #parse( $navTemplate )

    #if( $!errorNavTemplate )
     #parse( $errorNavTemplate )
    #end

   </div>
   #parse( 'breadcrumb.vm' )
  </nav>

  <header>
   #parse( $headerTemplate )
  </header>


  <article #if(!$bodyClass.contains("edit")) style="min-height: 690px" #end >
   #if(!$bodyClass.contains("edit"))
    ## Page Header
    <a href="?testHistory">
     <span class="btn btn-primary">Test History</span>
    </a>
    <a href="?pageHistory">
     <span class="btn btn-primary">Page History</span>
    </a>
    <a href="?properties">
     <span class="btn btn-secondary">Properties</span>
    </a>
    <br>
    <hr>

    #if($pageTitle.getTitle().contains("FrontPage"))
     ## Tooltips
     <div id="tooltip-div">
      <img class="tooltip-icon" src="/files/fitnesse/bootstrap-plus/img/hint.png">
      <p class="tooltip-text"></p>
     </div>

    #end
   #end

   #parse( $mainTemplate )
  </article>

  ## Tooltips edit page
  #if($bodyClass.contains("edit"))
   <div id="tooltip-div-edit">
    <img class="tooltip-icon" src="/files/fitnesse/bootstrap-plus/img/hint.png">
    <p class="tooltip-text"></p>
   </div>
  #end

  #if( $!footerTemplate )
  <footer>
   #parse( $footerTemplate )
  </footer>
  #end

 </body>
</html>
