<form method="get" action="" name="symbolics" id="symbolics">
    <h2>Symbolic Links</h2>
    <table class="dirListing">
        <tr>
            <th style="min-width: 150px">Page name</th>
            <th style="min-width: 150px">Simbolic link name</th>
            <th style="min-width: 150px">Original path</th>
        </tr>
        #foreach( $symlink in $symlinks )
            <tr>
                <td>$symlink.pagePath</td>
                <td>$symlink.linkName</td>
                <td>$symlink.linkPath</td>
            </tr>
        #end
    </table>

</form>
