<div id="testHistoryDiv">
    <div id="parentTestHistory">
        <h3 id="testHistoryTitle">Recent Test History</h3>
    </div>
    <div  id="recentTestHistoryTable">
    </div>
    <a href="/?recentTestHistory">More...</a>
</div>