#parse( "menu.vm" )
<div class="navextras">
    <form class="navbar-form search" role="search" action="?search">
        <input type="hidden" name="responder" value="search"/>
        <input type="hidden" name="searchScope" value="root"/>
        <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search for page"/>
        <input type="hidden" name="searchType" value="Search Titles"/>
    </form>

    #if( $actions.suitePage )
        <form class="navbar-form run" role="run" action="?suite">
            <input type="hidden" name="responder" value="suite"/>
            <div id="tagfilter">
                <input type="text" id="filtertags" name="runTestsMatchingAnyTag" class="form-control" placeholder="Run tests with tags"/>
                <label><input type="checkbox" id="alltags"/>All</label>
            </div>
        </form>
    #end
    <button class="fa fa-cog prefsbutton" id="prefs-switch" title="Toggle preferences panel"/>
</div>
<div style="display:none" class="settings-panel">
    <h5>Bootstrap<sup>+</sup> Preferences</h5>
    <ul>
        #if ( $themeType == 'bootstrap-plus-dark' )
            <li>
                <button class="fa fa-toggle-on prefsbutton" id="theme-switch" title="Toggle light/dark mode"></button>
                Come to the dark side
            </li>
        #else
            <li>
                <button class="fa fa-toggle-off prefsbutton" id="theme-switch" title="Toggle light/dark mode"></button>
                Come to the dark side
            </li>
        #end

        #if ( $sidebar == 'true' )
            <li>
                <button class="fa fa-toggle-on prefsbutton" id="sidebar-switch" title="Toggle sidebar"></button>
                Sidebar
            </li>
        #else
            <li>
                <button class="fa fa-toggle-off prefsbutton" id="sidebar-switch" title="Toggle sidebar"></button>
                Sidebar
            </li>
        #end

        #if ( $highlightSymbols == 'true' )
                    <li>
                        <button class="fa fa-toggle-on prefsbutton" id="highlight-switch" title="Toggle symbol collapse on result pages"></button>
                        Highlight Slim Symbols &amp; Expressions
                    </li>
                #else
                    <li>
                        <button class="fa fa-toggle-off prefsbutton" id="highlight-switch" title="Toggle symbol collapse on result pages"></button>
                        Highlight Slim Symbols &amp; Expressions
                    </li>
                #end
        #if ( $collapseSymbols == 'true' )
            <li>
                <button class="fa fa-toggle-on prefsbutton" id="collapse-switch" title="Toggle symbol collapse on result pages"></button>
                Collapse Slim Symbols &amp; Expressions
            </li>
        #else
            <li>
                <button class="fa fa-toggle-off prefsbutton" id="collapse-switch" title="Toggle symbol collapse on result pages"></button>
                Collapse Slim Symbols &amp; Expressions
            </li>
        #end

        #if ( $autoSave == 'true' )
            <li>
                <button class="fa fa-toggle-on prefsbutton" id="autoSave-switch" title="Toggle auto saving edits and realtime validation"></button>
                <b>Experimental:</b> Save and validate test pages on enter
            </li>
        #else
            <li>
                <button class="fa fa-toggle-off prefsbutton" id="autoSave-switch" title="Toggle auto saving edits and realtime validation"></button>
                <b>Experimental:</b> Save and validate test pages on enter
            </li>
        #end

        #if ( $versionCheck == 'true' )
            <li>
                <button class="fa fa-toggle-on prefsbutton" id="mavenVersionCheck-switch" title="Toggle mavenVersionCheck"></button>
                <b>Experimental:</b> Maven Version Checker
            </li>
        #else
            <li>
                <button class="fa fa-toggle-off prefsbutton" id="mavenVersionCheck-switch" title="Toggle mavenVersionCheck"></button>
                <b>Experimental:</b> Maven Version Checker
            </li>
        #end
    </ul>
</div>
